.button-exit{
    -fx-background-color: orange;
    -fx-font-size: 13;
    -fx-font-weight: bold;

}
.tabble-view{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-radius: 30;
}

.registration-button{

    -fx-background-color: orange;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-border-radius:0;
}
.text-label-enterprise{
    -fx-fill: #8f8591;
    -fx-font-size: 10;
    -fx-font-weight: bold;
}